link(rel="import" href="../polymer/polymer.html")

// 
  An element providing a solution to no problem in particular.

  Example:
      <seed-element></seed-element>

  @demo


dom-module(id="seed-element")


  template
    h1 &lt;seed-element&gt; 
    content
    p.author
      img(src="{{author.image}}")
      span Cheers,
      br
      span.name {{author.name}}

script(src="./seed-element.ts")
  
